@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Manrope:wght@200..800&display=swap");

:root {
  --light: #fff;
  --dark: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  background-color: var(--light);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -0.5rem;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 550;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-family: "Agdasima", sans-serif;
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 0.9;
  display: block;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--dark);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  border: 20px solid gold;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  /* background-color: var(--light); */
  background-color: red;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.preloader-images {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  border: 6px solid blueviolet;
}

.preloader-images .img {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}
