@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #7a992b;
  --color-secondary: #1aaaaa;
  --color-tertiary: #1c4e55;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  color: var(--color-dark-200);
  font-family: var(--font-regular);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

@layer components {
  h2 {
    @apply font-semibold text-3xl 2xl:text-5xl text-black;
  }
  h4 {
    @apply text-2xl font-semibold lg:text-4xl  text-tertiary;
  }

  .title {
    @apply flex-center gap-6;

    svg {
      @apply w-12 h-12 shrink-0;
    }
  }

  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center bg-black h-16;

    nav {
      @apply container mx-auto flex-between px-5 2xl:px-0;

      img {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply bg-transparent border-none outline-none cursor-pointer;
        }
      }

      ul {
        @apply flex-center gap-8;

        a {
          @apply hidden md:block text-white opacity-80 font-regular text-sm cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out;
        }
      }
    }
  }

  #hero {
    @apply h-fit bg-black mt-16 overflow-hidden;
    .wrapper {
      @apply container mx-auto;
      h1 {
        @apply text-3xl uppercase lg:text-5xl/16  2xl:text-5xl/16 text-white;
      }

      p {
        @apply lg:text-3xl mt-10 mb-10 text-gray-300;
      }

      button {
        @apply relative z-10 bg-primary text-white py-2 px-6 mt-10 lg:mt-0 mb-5 rounded-lg font-semibold text-lg cursor-pointer hover:bg-gray-400 transition-all duration-300 ease-in-out;
      }
    }
  }

  #hero-1 {
    @apply h-fit lg:h-[94vh] col-center mt-40 lg:mt-20 2xl:mt-[7vh];

    div {
      @apply relative z-10 col-center lg:translate-y-16;

      h1 {
        @apply font-semibold lg:text-3xl 2xl:text-5xl text-black;
      }

      img {
        @apply container mx-auto w-2/3;
      }
    }

    video {
      @apply mx-auto lg:translate-y-5 2xl:translate-y-0;
    }

    button {
      @apply relative z-10 bg-primary text-white py-2 px-6 mt-10 lg:mt-0 mb-5 rounded-lg font-semibold text-lg cursor-pointer hover:bg-gray-400 transition-all duration-300 ease-in-out;
    }

    p {
      @apply lg:h3-semibold base-semibold;
    }
  }

  #facts {
    @apply py-10 lg:py-20;

    .wrapper {
      @apply container mx-auto px-6;

      .list {
        @apply grid gap-x-6 lg:grid-cols-3 mt-6 lg:mt-12;

        h4 {
          @apply mb-2;
        }
        h5 {
          @apply text-2xl mb-2 font-semibold;
        }
      }
    }
  }

  #our-strength {
    @apply py-10 lg:py-20 bg-black;

    .wrapper {
      @apply container mx-auto px-6;

      h2 {
        @apply text-white;
      }

      .list {
        @apply grid gap-x-6 lg:grid-cols-4 mt-6 lg:mt-12;

        h4 {
          @apply mb-2 text-primary;
        }

        p {
          @apply text-gray-300;
        }
      }
    }
  }

  #main-block {
    @apply py-10 lg:py-20;

    .wrapper {
      @apply container mx-auto px-6;

      .list {
        @apply grid gap-x-6 lg:grid-cols-2 mt-6 lg:mt-12;

        .ulist {
          @apply flex items-center gap-2 mt-6;

          svg {
            @apply w-5 h-5 shrink-0;
          }

          p {
            @apply text-xl text-gray-800;
          }
        }
      }
    }
  }

  #cases {
    @apply mb-10 lg:mb-20;
    .wrapper {
      @apply container mx-auto px-6;
      .bento {
        @apply lg:grid  grid-cols-2 grid-rows-2 mt-6 gap-6;
        .case {
          @apply mb-4 lg:mb-0 col-span-1 row-span-1 rounded-2xl h-80 overflow-hidden bg-tertiary border relative;
          img {
            @apply object-cover w-full h-full;
          }
          .text {
            @apply absolute inset-0 flex items-end bg-black/20 p-6;
            p {
              @apply text-xl text-white;
            }
          }
        }
      }
    }
  }

  #achievements {
    @apply py-10 lg:py-20;

    .wrapper {
      @apply container mx-auto px-6;

      .list {
        @apply grid gap-10 lg:gap-y-20 lg:grid-cols-1 mt-6;

        .ulist {
          @apply flex items-center gap-2 mt-6;

          svg {
            @apply w-5 h-5 shrink-0;
          }

          p {
            @apply text-xl text-gray-800;
          }
        }
      }
    }
  }

  #digits {
    /* @apply py-10 lg:py-20; */

    .wrapper {
      @apply container mx-auto px-6;

      .list {
        @apply grid gap-6 lg:grid-cols-3;

        .card {
          @apply flex flex-col items-center text-center gap-2 bg-primary rounded-2xl p-6;

          h4 {
            @apply text-white text-5xl lg:text-7xl;
          }

          p {
            @apply text-gray-100 lg:text-xl;
          }
        }
      }
    }
  }

  #tools {
    @apply py-10 lg:py-20 bg-black;

    .wrapper {
      @apply container mx-auto px-6;

      h2 {
        @apply text-white;
      }

      .list {
        @apply grid gap-6 lg:grid-cols-7 mt-6 lg:mt-12;

        .card {
          @apply col-center gap-2 bg-gray-100 rounded-2xl p-6;

          svg {
            @apply w-16 h-16;
          }

          p {
            @apply text-tertiary;
          }
        }
      }
    }
  }

  #form {
    @apply bg-gray-800 py-10 lg:py-20;

    .wrapper {
      @apply container mx-auto px-6;

      h2 {
        @apply text-white;
      }
    }
  }

  footer {
    @apply container mx-auto py-7 max-lg:px-5;

    .info {
      @apply flex-between;

      p {
        @apply text-sm font-medium;

        span {
          @apply text-primary mx-0.5;
        }
      }
    }

    hr {
      @apply my-7 text-[#424245];
    }

    .links {
      @apply flex flex-col lg:flex-row lg:items-center justify-between max-lg:mt-5 gap-5 text-sm;

      ul {
        @apply lg:divide-x flex flex-col lg:flex-row gap-2.5;

        li {
          @apply lg:px-5 cursor-pointer hover:text-primary transition-all duration-300 ease-in-out;
        }
      }
    }
  }
}
